.App {
  text-align: center;
}

.login-wrapper{
  text-align: center;
}

.login-main-wrapper{
  width: 450px;
  margin-left: 35%;
  margin-right: 35%;
}

.icons {
  background-color: blue;
  justify-content: left;
}

.product-form-wrapper {
  display: flex;
  flex-direction: column;
  gap : 1rem ;
  align-items : center;
  margin-left: 25%;
  margin-right: 25%;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  margin: auto;   
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 10px;
}

.card-details{
  padding:10px;
}

.table-row details {
  cursor: pointer;
}